<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sage.Ssdp.Security.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Sage.Ssdp.Security.Client.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sage.Ssdp.Security.Client.Properties.Settings>
            <setting name="Sage_Ssdp_Security_Client_CheckForUpdatesWS_UpdateService"
                serializeAs="String">
                <value>http://localhost:8080/au/services/UpdateService</value>
            </setting>
        </Sage.Ssdp.Security.Client.Properties.Settings>
        <Sage.Ssdp.Security.Client.App>
            <setting name="enableLogging" serializeAs="String">
                <value>False</value>
            </setting>
        </Sage.Ssdp.Security.Client.App>
    </applicationSettings>
</configuration>